{
  "env": {
    "browser": true,
    "es2021": true
  },
  "rules": {
    "jsdoc/require-jsdoc": "off"
  },
  "overrides": [
    {
      "files": [
        "test/**/*.ts"
      ],
      "env": {
        "node": true
      },
      "rules": {
        "@typescript-eslint/no-floating-promises": "off",
        "@typescript-eslint/no-magic-numbers": "off"
      }
    }
  ]
}
